
body{
    background-color: black;
    color: orange;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.elements{
    text-align: center; /* Align text and buttons center */
    gap: 20px;
   

}

span{
    color: rgb(0, 255, 221);
    font-size: 36px;
}

.alert{
    color: red;
}